.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 240px;
  border: 1px solid #eeeeee;
}

input.letter {
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.178);
  border-style: solid;
  box-shadow: 0;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 20pt;
  text-align: center;
  text-transform: uppercase;
}

.letters {
  direction: rtl;
}

.matches {
  text-align: center;
  width: 240px;
}

.matches .word {
  font-size: 12pt;
  margin: 10px 0px;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.error {
  color: red;
  font-weight: bold;
  direction: rtl;
}
